<section *ngIf="produtosTotal">
    <h3>Lista de Produtos</h3>
    <ul>
        <li *ngFor="let item of listaProdutos; let i = index">
            <p class="nomeProduto">{{ item.nomeProduto }}</p>
            <p class="valorProduto">{{ item.valorProduto }} R$</p>
            <div class="botao">
                <button (click)="apagarItemLista(i, item.valorProduto)">
                    <img src="assets/icons/icon-trash.svg">
                </button>
            </div>
        </li>
        <li *ngIf="produtosTotal" class="total">
            <p class="nomeProdutoTotal">Total de produtos: {{ produtosTotal }}</p>
            <p class="valorProdutoTotal">Valor total: {{ valorTotal }} R$</p>
            <div class="botao">
                <button (click)="apagarLista()">
                    <img src="assets/icons/icon-trash.svg">
                </button>
            </div>
        </li>
    </ul>

</section>